# Macintosh files
.DS_Store

# Python files
__pycache__

# Datasets
*.csv
data/datasets/input/input.txt

# Intermediate savings
*.pickle

# Notebooks
*.ipynb
.ipynb_checkpoints

# Computed models
data/models/BERT
data/models/K-Means
data/models/LDA
data/models/SVM